{% extends 'base.html.twig' %}

{% block title %}Hello BookingController!{% endblock %}

{% block body %}
{% for service in services %}
                <tr>
                    <td>{{service.name}}</td>
                    <td>{{service.price}}€</td>
                    <td>
                    {# <a href="{{path('app_cart_remove_product',{'id':item.product.id})}}" class="text-decoration-none text-danger">(-)</a>
                    {{item.quantity}} 
                    <a href="{{path('app_cart_new',{'id':item.product.id})}}" class="text-decoration-none text-success">(+)</a>
                    </td>
                    <td>{{item.product.price * item.quantity}}</td>
                    <td>
                        <a href="{{path('app_cart_product_remove',{'id':item.product.id})}}" class="text-decoration-none text-danger">Supprimer le produit</a>
                    </td> #}
                </tr>
                {% else %}
                <p>Oups,votre panier est vide,achetez svp</p>
            {% endfor %}
{% endblock %}
